---
layout: default
---
<div class="card">
  <div class="card-header">
    <h1>
      <img src="https://ms2db.github.io/resource/item/icon/{{ page.id }}.png" class="img-thumbnail">
      {{ page.item_name }}
      <small class="fs-4 text-muted">{{ page.id }}</small>
    </h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ page.description }}</li>
    <li class="list-group-item">
      <span class="font-monospace">This is in monospace</span>
    </li>
  </ul>
  <div class="card-footer">
    footer data
  </div>
</div>

{{ content }}