---
layout: default
---
<div class="card">
  <div class="card-header">
    <h1>
      <img src="https://ms2db.github.io/resource/{{ page.icon_url }}" class="img-thumbnail" style="min-height:75px;height:75px;">
      {{ page.item_name }}
      <small class="fs-4 text-muted">{{ page.id }}</small>
    </h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ page.tooltip_description }}</li>
    <li class="list-group-item">{{ page.guide_description }}</li>
  </ul>
  <div class="card-footer">
    footer data
  </div>
</div>

{{ content }}